@CHARSET "UTF-8";

.following_block {
	margin-top:50px;
	margin-left:50px;
}

.following_table {
	border-spacing:40px 25px;
}

.following_avatar {
	 box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.following_username {
	font-size:20px;
	color: #800000;
	
}