@CHARSET "UTF-8";


html {
	background: #f7f2ea;
}


.like {
	cursor:pointer;
	width: 70px;
	height:20px;
	padding: 0.5em;
	border-width: 1px;
	border-color: #ffe #aaab9c #ccc #fff;
	border-style: solid;
	color: #777;
	text-decoration: none;
	background: #e8dac1;
	height:30px;
	text-align:center;
	margin-left:45px;
	font-weight:bold;
}

#playlists_body {
	margin:0 auto; 
	font-family:Calibri, sans-serif;
}

#weather_sounds {
	margin-top:50px;
	margin-bottom:50px;
}

#trendy_sounds {
	margin-bottom:50px;
}

#playlist_name {
	padding-left:100px;
	font-weight:bold;
}

#playlist_table {
	
}

#row_with_sounds {
	
}

#sound_title {
	text-align: center;
	font-weight:bold;
	width: 170px;
    height: 35px;
}

#individual_sound {
	padding-left:10px;
}

#sound_cover_photo {
	cursor:pointer;
}

#images_container {
	position:relative;
}


#images_container:hover #play{display:block}
#play{
  	cursor:pointer;
  	position:absolute;
    display:none;
    top:40%; 
    width:50px;
  	padding-left:50px;
    z-index:100
} 


#like {
	cursor:pointer;
	width: 50px;
	height:20px;
	padding: 0.5em;
	border-width: 1px;
	border-color: #ffe #aaab9c #ccc #fff;
	border-style: solid;
	color: #777;
	text-decoration: none;
	background: #e8dac1;
	height:30px;
	text-align:center;
	margin-left:45px;
	font-weight:bold;
}

#like:hover {
	color: #800000;
	background: transparent;
	border-color: #aaab9c #fff #fff #ccc;
}

