@CHARSET "UTF-8";

#filters {
	margin-top:50px;
	margin-bottom:60px;
	margin-left:40px;
}

#search_word {
	font-weight:bold;
	font-weight:bold;
	font-size:15px;
	color: #800000;
}

#search_results {
	margin-left:20px;
	margin-bottom:40px;
}

#sound_search_results {
	margin-top:76px;
	margin-left:45px;
	margin-bottom:65px;
}

#user_results, #sound_results, #album_results, #filter_genres {
	height:35px;
	width:140px;
	font-weight:bold;
	cursor:pointer;
	border-width: 1px;
	border-color: #ffe #aaab9c #ccc #fff;
	border-style: solid;
	color: #777;
	text-decoration: none;
	background: #f7f2ea;
	height:40px;
	text-align:center;
	font-weight:bold;
	
}

#user_results:hover, #sound_results:hover, #album_results:hover, #filter_genres:hover {
	color: #800000;
	background: transparent;
	border-color: #aaab9c #fff #fff #ccc;
}

#sound_cover_photo, #user_cover_photo, #album_cover_photo {
	 box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

#filter_genres {
	position:absolute;
	height:40px;
	width:140px;
	font-weight:bold;
	margin-left:3px;
	
}


#page {
	margin-right:auto;
	margin-left:auto;
	height:40px;
	width:60px;
	font-weight:bold;
	
}

button.like {
	height:30px;
	width:74px;
	font-weight:regular;
	padding: 0.5em;
	margin:0px;
		
}

.username_in_search {
	font-size:20px;
	color: #800000;
}

.album_title_in_search {
	font-size:20px;
	color: #800000;
}

.sound_title_in_search {
	font-size:20px;
	color: #800000;
	cursor:pointer;
}

#album_results_table, #user_results_table {
	border-spacing:25px 25px;
	
}




